/*

light blue: #00A1E1
medium blue: #0078E1;
dark blue: #0050E1;

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: rgb(23, 22, 22);
  padding: 1.5rem;
}
.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 161, 225, 0.8),
      rgba(0, 80, 225, 0.7)
    ),
    url("../images/header-bg.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.header__logo-box {
    position: absolute;
    top: 3%;
    left: 2%;
}
.header__logo{
    height: 5rem;
}
.header__text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.header__heading-primary{
    color: #fff;
    text-transform: uppercase;
}
.header__main-title{
    display: block;
    font-weight: 600;
    letter-spacing: 2.1rem;
    font-size: 3rem;
    margin-bottom: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: .5s;
    /* animation: moveInRight 1s ease-in  anima*/
}
.header__sub-title{
    display: block;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 2.08rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-delay: .5s;
}

@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateX(-20rem);
  }
  75%{
    transform: translateX(10rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0%{
    opacity: 0;
    transform: translateX(20rem);
  }
  75%{
    transform: translateX(-10rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
