$color-primary-light: #00A1E1;
$color-primary: #0078E1;
$color-primary-dark: #0050E1;

$color-black: #000;
$color-white: #fff;
$color-gray-dark: rgb(81, 78, 78);
$color-gray-light: rgb(161, 156, 156);
