$color-primary-light: #00a1e1;
$color-primary: #0078e1;
$color-primary-dark: #0050e1;

$color-black: #000;
$color-white: #fff;
$color-gray-dark: rgb(81, 78, 78);
$color-gray-light: rgb(247, 244, 244);
