.form {
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }
    &__input{
        font-family: inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        color: inherit;
        background-color: rgba($color-white, .8);
        border: none;
        transition: all .5;
        border-bottom: 3px solid transparent;
        width: 70%;
        display: block;
        &:focus{
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
        border-bottom: 3px solid $color-primary-dark;
        }
        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark;
        }
        &::-webkit-input-placeholder{
            color: $color-gray-dark;
        }

    }
    &__label{
        font-size: 1.3rem;
        font-weight: 500;
        margin-left: 1rem;
        margin-top: .7rem;
        display: block;
        transition: all .5s;
    }
    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}