body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: $color-gray-dark;
    padding: 2rem;
  }
.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 4rem;
    &--main {
      display: block;
      font-weight: 600;
      letter-spacing: 2.1rem;
      font-size: 6rem;
      margin-bottom: 2rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-delay: 0s;
    }
    &--sub {
      display: block;
      font-weight: 400;
      font-size: 3rem;
      letter-spacing: 2rem;
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-delay: 0.1s;
    }
  }

  .heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 500;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .3s;

    &:hover {
      transform: skewX(-30deg);
      text-shadow: .5rem 1rem 2rem rgba($color-primary, .2);
    }
  }

  .heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
  .paragraph{
    font-size: 1.6rem;
    &:not(:last-child){
      margin-bottom: 3rem;
    }
  }
  